
<template>
<div>

<div class="card">
  <div class="card-header">
    <router-link :to="{ name: 'createCategory', params: {methodName: 'Save'  } }"><a class="btn btn-primary">Add New</a></router-link>
  </div>
  <div class="card-body">
<table class="table">
  <caption>List of Category</caption>
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Deskripsi</th>
      <th scope="col">slug</th>
      <th scope="col">image</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="(indextr) in lists" :key="indextr">
      <th scope="row">{{indextr.id }}</th>
      <td >{{ indextr.name }}</td>
      <td>{{ indextr.slug }}</td>
      <td>{{ indextr.image }}</td>
      <td>
        <router-link :to="{ name: 'updateCategory', params: {id : indextr.id, methodName: 'UpdateCategory'  } }" class="btn btn-success">Edit</router-link>
        <router-link :to="{ name: 'updateCategory', params: {id : indextr.id, methodName: 'DeleteCategory'  } }" class="btn btn-warning">Delete</router-link>      
      </td>
    </tr>
  </tbody>
</table>
  </div>
</div>
</div> 
</template>    

<script>
import axios from 'axios'
    export default {
        data(){
            return {
              lists:[],
              category:{
              name: '',
              slug: '',
              image: ''
            }
            }
        },

created(){
      axios.get('/api/category')
      .then((response)=>{
          this.lists = response.data.data
      })
},

        methods: {
            handleSubmit(){
                axios.get('/api/category')
                .then((response)=>{
                    console.log(response)
                })
            }
        }
    }
</script>
