
<template>
<div>
<!--form -->

      <div class="card">
        <div class="card-header">
          <div class="card-title"><h3>Form Products</h3></div>
        </div>
        <div class="card-body">
            <div class="form-group">
            <input class="form-control" v-model="products.title" id="title" placeholder="title" type="text"/>
            </div>
            <div class="form-group">
            <input class="form-control" v-model="products.slug" id="slug" placeholder="slug" type="text"/>
            </div>
            <div class="form-group">
            <input class="form-control" v-model="products.category_id" id="category_id" placeholder="category" type="text"/>
            </div>
            <div class="form-group">
            <input class="form-control" v-model="products.content" id="content" placeholder="content" type="text"/>
            </div>
            <div class="form-group">
            <input class="form-control" v-model="products.weight" id="weight" placeholder="weight" type="number"/>
            </div>
            <div class="form-group">
            <input class="form-control" v-model="products.price" id="price" placeholder="price" type="number"/>
            </div>                        
            <div class="form-group">
            <input class="form-control" v-model="products.image" id="image" placeholder="image" type="text"/>
            </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary" @click="handleSubmit()">{{ this.$route.params.methodName }}</button>
        </div>  
      </div>

<!--form-->

</div> 
</template>    

<script>
import axios from 'axios'
    export default {
        data(){
            return {
              lists:[],
              products:{
              title: "",
              slug: "",
              content: "",
              category_id: "",
              weight: "",
              price: "",
              image: ""
            },
            errors: []
            }
        },

created(){
  
  if(this.$route.params.methodName === "updateProducts" || this.$route.params.methodName === "DeleteProducts"){
     axios.get('/api/products/' + this.$route.params.id +'/edit')
      .then((response)=>{
          this.products = response.data.data
      })
  }
},

      methods: {
      handleSubmit(){
        if(this.$route.params.methodName === "Save"){
      axios.post('/api/products',this.products)
      .then((response)=>{
        if (response.status) {
          const data = response.data
          alert("Data berhasil disimpan")
          this.blankForm

        }
      })
      .catch(e=> {
        this.errors.push(e)
      })
        }
        if(this.$route.params.methodName === "updateProducts"){
      axios.put('/api/products/' + this.$route.params.id ,this.products)
      
      .then((response)=>{
        if (response.status) {
          //this.$router.push({path :'/'})
          const data = response.data
          //this.post.push(data)
          alert("Data berhasil diupdate")
        }
      })
      .catch(e=> {
        this.errors.push(e)
      })
      }
        if(this.$route.params.methodName === "DeleteProducts"){
          
      axios.delete('/api/products/' + this.$route.params.id ,this.products)
      .then((response)=>{
        if (response.status) {
          //this.$router.push({path :'/'})
          const data = response.data
          //this.post.push(data)
          alert("Data berhasil dihapus")
          this.blankForm()
        }
      })
      .catch(e=> {
        this.errors.push(e)
      })
      }      
            },
      blankForm: function(){
        console.log(this.data)
      }      
        }
    }
</script>
