
<template>
<div>
<!--form -->

      <div class="card">
        <div class="card-header">
          <div class="card-title"><h3>Form Customer</h3></div>
        </div>
        <div class="card-body">
            <div class="form-group">
            <input class="form-control" v-model="customers.nama" id="name" placeholder="Full name" type="text"/>
            </div>
            <div class="form-group">
            <input class="form-control" v-model="customers.email" id="email" placeholder="Email" type="email"/>
            </div>
            <div class="form-group">
            <input class="form-control" v-model="customers.password" id="password" placeholder="Password" type="password"/>
            </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary" @click="handleSubmit()">{{ this.$route.params.methodName }}</button>
        </div>  
      </div>

<!--form-->

</div> 
</template>    

<script>
import axios from 'axios'
    export default {
        data(){
            return {
              lists:[],
              customers:{
              nama: "",
              email: "",
              password: "",
            },
            errors: []
            }
        },

created(){
  if(this.$route.params.methodName === "Update" || this.$route.params.methodName === "Delete"){
      axios.get('/api/customers/' + this.$route.params.id +'/edit')
      .then((response)=>{
          this.customers = response.data.data
      })
  }
},

      methods: {
      handleSubmit(){
        if(this.$route.params.methodName === "Save"){
      axios.post('/api/customers',this.customers)
      .then((response)=>{
        if (response.status) {
          const data = response.data
          alert("Data berhasil disimpan")
          this.blankForm

        }
      })
      .catch(e=> {
        this.errors.push(e)
      })
        }
        if(this.$route.params.methodName === "Update"){
      axios.put('/api/customers/' + this.$route.params.id ,this.customers)
      .then((response)=>{
        if (response.status) {
          //this.$router.push({path :'/'})
          const data = response.data
          //this.post.push(data)
          alert("Data berhasil diupdate")
        }
      })
      .catch(e=> {
        this.errors.push(e)
      })
      }
        if(this.$route.params.methodName === "Delete"){
      axios.delete('/api/customers/' + this.$route.params.id ,this.customers)
      .then((response)=>{
        if (response.status) {
          //this.$router.push({path :'/'})
          const data = response.data
          //this.post.push(data)
          alert("Data berhasil dihapus")
          this.blankForm()
        }
      })
      .catch(e=> {
        this.errors.push(e)
      })
      }      
            },
      blankForm: function(){
        console.log(this.data)
      }      
        }
    }
</script>
