
<template>
<div>
<!--form -->

      <div class="card">
        <div class="card-header">
          <div class="card-title"><h3>Form Category</h3></div>
        </div>
        <div class="card-body">
            <div class="form-group">
            <input class="form-control" v-model="category.name" id="name" placeholder="name" type="text"/>
            </div>
            <div class="form-group">
            <input class="form-control" v-model="category.slug" id="slug" placeholder="slug" type="email"/>
            </div>
            <div class="form-group">
            <input class="form-control" v-model="category.image" id="image" placeholder="image" type="text"/>
            </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary" @click="handleSubmit()">{{ this.$route.params.methodName }}</button>
        </div>  
      </div>

<!--form-->

</div> 
</template>    

<script>
import axios from 'axios'
    export default {
        data(){
            return {
              lists:[],
              category:{
              name: "",
              slug: "",
              email: ""
            },
            errors: []
            }
        },

created(){
  if(this.$route.params.methodName === "UpdateCategory" || this.$route.params.methodName === "DeleteCategory"){
      axios.get('/api/category/' + this.$route.params.id +'/edit')
      .then((response)=>{
          this.category = response.data.data
      })
  }
},

      methods: {
      handleSubmit(){
        if(this.$route.params.methodName === "Save"){
      axios.post('/api/category',this.category)
      .then((response)=>{
        if (response.status) {
          const data = response.data
          alert("Data berhasil disimpan")
          this.blankForm

        }
      })
      .catch(e=> {
        this.errors.push(e)
      })
        }
        if(this.$route.params.methodName === "UpdateCategory"){
      axios.put('/api/category/' + this.$route.params.id ,this.category)
      .then((response)=>{
        if (response.status) {
          //this.$router.push({path :'/'})
          const data = response.data
          //this.post.push(data)
          alert("Data berhasil diupdate")
        }
      })
      .catch(e=> {
        this.errors.push(e)
      })
      }
        if(this.$route.params.methodName === "DeleteCategory"){
          
      axios.delete('/api/category/' + this.$route.params.id ,this.category)
      .then((response)=>{
        if (response.status) {
          //this.$router.push({path :'/'})
          const data = response.data
          //this.post.push(data)
          alert("Data berhasil dihapus")
          this.blankForm()
        }
      })
      .catch(e=> {
        this.errors.push(e)
      })
      }      
            },
      blankForm: function(){
        console.log(this.data)
      }      
        }
    }
</script>
