
<template>
<div>

<div class="card">
  <div class="card-header">
    <router-link :to="{ name: 'create', params: {methodName: 'Save'  } }"><a class="btn btn-primary">Add New</a></router-link>
  </div>
  <div class="card-body">
<table class="table">
  <caption>List of Customer</caption>
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nama Lengkap</th>
      <th scope="col">Email</th>
      <th scope="col">Handle</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="(indextr) in lists" :key="indextr">
      <th scope="row">{{indextr.id }}</th>
      <td >{{ indextr.nama }}</td>
      <td>{{ indextr.email }}</td>
      <td>{{ indextr.created_at }}</td>
      <td>
        <router-link :to="{ name: 'update', params: {id : indextr.id, methodName: 'Update'  } }" class="btn btn-success">Edit</router-link>
        <router-link :to="{ name: 'update', params: {id : indextr.id, methodName: 'Delete'  } }" class="btn btn-warning">Delete</router-link>      
      </td>
    </tr>
  </tbody>
</table>
  </div>
</div>
</div> 
</template>    

<script>
import axios from 'axios'
    export default {
        data(){
            return {
              lists:[],
              customers:{
              name: '',
              email: '',
              password: ''
            }
            }
        },

created(){
      axios.get('/api/customers')
      .then((response)=>{
          this.lists = response.data.data
      })
},

        methods: {
            handleSubmit(){
                axios.get('/api/customers')
                .then((response)=>{
                    console.log(response)
                })
            }
        }
    }
</script>
