
<template>
<div>

<div class="card">
  <div class="card-header">
    <router-link :to="{ name: 'createProducts', params: {methodName: 'Save'  } }"><a class="btn btn-primary">Add New</a></router-link>
  </div>
  <div class="card-body">
<table class="table table-sm">
  <caption>List of Product</caption>
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">slug</th>
      <th scope="col">Category ID</th>
      <th scope="col">Content</th>
      <th scope="col">Image</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="(indextr) in lists" :key="indextr">
      <th scope="row">{{indextr.id }}</th>
      <td >{{ indextr.title }}</td>
      <td>{{ indextr.slug }}</td>
      <td>{{ indextr.category_id }}</td>
      <td>{{ indextr.content }}</td>
      <td>{{ indextr.image }}</td>
      <td>
        <router-link :to="{ name: 'updateProducts', params: {id : indextr.id, methodName: 'updateProducts'  } }" class="btn btn-success">Edit</router-link>
        <router-link :to="{ name: 'updateProducts', params: {id : indextr.id, methodName: 'DeleteProducts'  } }" class="btn btn-warning">Delete</router-link>      
      </td>
    </tr>
  </tbody>
</table>
  </div>
</div>
</div> 
</template>    

<script>
import axios from 'axios'
    export default {
        data(){
            return {
              lists:[],
              product:{
              title: '',
              slug: '',
              category_id: '',
              content: '',
              image: ''
            }
            }
        },

created(){
      axios.get('/api/products')
      .then((response)=>{
          this.lists = response.data.data
      })
},

        methods: {
            handleSubmit(){
                axios.get('/api/products')
                .then((response)=>{
                    console.log(response)
                })
            }
        }
    }
</script>
